{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
    <div class="notification is-success">
        {{ messages[0] }} See your scores on your <a href="{{ url_for('main.profile') }}">profile.</a> Or <a href="{{ url_for('main.game') }}">play again.</a>
    </div>
        {% endif %}
        {% endwith %}
	</div>

<div class="columns">
<div class="column is-one-half">
<h1 id="scores">
	Number of Guesses Remaining: 10
</h1>
<form form method="POST" action="/game">
            <div class="field">
                <div class="control">
                    <input id="guess_text" class="input is-large" type="text" name="guess" placeholder="Your Guess" autofocus="">
                </div>
            </div>
            {% if status == "In Progress" %}
            <button class="button is-block is-info is-large is-fullwidth">Submit Guess</button>
            {% endif %}

            {% if status != "In Progress" %}
            <button class="button is-block is-info is-large is-fullwidth" disabled>Game Over</button>
            {% endif %}
        </form>
 </div>
 
 <div id="feedback" class="column is-one-half">
 	<table id="data" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Attempt</th>
        <th>Guess</th>
        <th>Feedback</th>
      </tr>
    </thead>
    <tbody>
      {% for n in attempts %}
        <tr>
          <td>{{ n.attempt }}</td>
          <td>{{ n.guess }}</td>
          <td>{{ n.feedback }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
 </div>
</div>

{% endblock %}