{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
    <div class="notification is-success">
        {{ messages[0] }} See your scores on your <a href="{{ url_for('main.profile') }}">profile</a>.
    </div>
        {% endif %}
        {% endwith %}
	</div>
<h1 id="scores">
	Number of Guesses Remaining: 10
</h1>
<form form method="POST" action="/game">
            <div class="field">
                <div class="control">
                    <input id="guess_text" class="input is-large" type="text" name="guess" placeholder="Your Guess" autofocus="">
                </div>
            </div>
            {% if status == "In Progress" %}
            <button class="button is-block is-info is-large is-fullwidth">Submit Guess</button>
            {% endif %}

            {% if status != "In Progress" %}
            <button class="button is-block is-info is-large is-fullwidth" disabled>Game Over</button>
            {% endif %}
        </form>
 
 <div id="feedback">
 	<p>Attempts: {{ attempt }}</p> 
 </div>
 <ul>
        {% for n in attempts %}
        <li>Attempt {{n.attempt}}: Guess: {{n.guess}} Feedback:{{n.feedback}}</li>
        {% endfor %}
</ul>

{% endblock %}