{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Megamind: A REACH Program Game
</h1>
<h2 class="subtitle">
  How to play?
</h2>


<b>Base Game rules</b>
<p>
<ul>
<li>--- At the start of the game the computer will randomly select a pattern of four different
numbers from a total of 8 different numbers (Note: 4 numbers is for Medium level. You will be able to choose a level).</li>
<li>--- A player will have 10 attempts to guess the number combinations</li>
</ul>
</p>

<br>
<p>At the end of each guess, computer will provide one of the following response as
feedback:</p>
<ol>
 <li>The player had guess a correct number</li>
<li>The player had guessed a correct number and its correct location</li>
<li>The player’s guess was incorrect</li>
</ol>

<p>
<b>Example Run:</b>
<ul>
<li>-- Game initializes and selects “0 1 3 5”</li>
<li>--- Player guesses “2 2 4 6”, game responds “all incorrect”</li>
<li>--- Player guesses “0 2 4 6”, game responds “1 correct number and 1 correct location”</li>
<li>--- Player guesses “2 2 1 1”, game responds “1 correct number and 0 correct location”</li>
<li>--- Player guesses “0 1 5 6”, game responds “3 correct numbers and 2 correct location”</li>
</ul>
	</p>

<br>
<b>tl;dr</b>
<ul>
	<li>Select a difficulty mode</li>
	<li>Guess the correct digits</li>
	<li>View your scores on your profile</li>
	</ul>

{% endblock %}
